/* styles.css */
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    text-align: center;
    height: 100%;
    width: 100%;
  }
  